<!-- Remove the container if you want to extend the Footer to full width. -->


    <footer class="text-center text-white footer-wrapper">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- <img src="https://o.remove.bg/downloads/dc3a231a-ce6e-4b88-9bdc-63995db1a5d8/image-removebg-preview.png" alt="Votre Logo" class="logo"> -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-white p-3" >
      © 2023 Copyright:
      <a class="text-white" style="text-decoration: none;">Groupe_5</a>
    </div>
    <!-- Copyright -->
  </footer>
    
 
  <!-- End of .container -->