
<div class="body">  
  <div class="conatinerLogin ">
    <div class="loginImage ">
<!-- Ndiaga -->
    </div>
    <div class="loginForm">
      <div class="logo">
        <img [src]="imageUrl" alt="" >
      </div>
      <div class="loginFormContainer" *ngIf="currentForm">
        <div class="loginFormLogo">
          <p class="mt-4">Connectez-vous à votre compte</p>
        </div>
        <form class="mt-4">
          <div class="mb-3 inputContainer">
            <input type="email" class="form-control h-100" id="inputEmail" aria-describedby="emailHelp"
              placeholder="Email address" [(ngModel)] = "emailInput" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="mb-3 inputContainer">
            <input type="password" class="form-control h-100" id="inputPassword" placeholder="****************"
            [(ngModel)] = "passwordInput" name="password">
          </div>
          <button type="button" class="btn col-12 buttonSubmit mb-3" style="color: white;" (click)="login()">Se connecter</button>
        </form>
        <br>
          <div style="margin-bottom: 20%;">
            <a href="#" class="text-muted"style="text-decoration: none;" >Mot de passe oublié? </a>
          <p class="fw-bold" style="color: #0D3FA1;">Vous n'avez pas de compte?<a style="color: #0D3FA1;text-decoration: none; cursor:pointer" (click) = "switchForm()">S'inscrire</a></p>
          </div>
        <a class="text-muted loginFormContainer_bottom" style="text-decoration: none;">Termes d'utilisation et politique de confidentialités</a>
      </div>


      <div class="loginFormContainer" *ngIf="!currentForm">
        <div class="logo">
          <!-- <img [src]="imageUrl" alt="" > -->
        </div>
        <div class="loginFormLogo">
          <p class="mt-4">Créer un compte</p>
        </div>
        <form class="mt-4">
          <div class="mb-3 inputContainer">
            <input type="nomComplet" class="form-control h-100" id="inputNomComplet" aria-describedby="nomCompletHelp"
              placeholder="Veuillez entrer votre nom Complet" [(ngModel)] = "nomCompletInput" name="nomComplet">
          </div>
          <div class="mb-3 inputContainer">
            <input type="email" class="form-control h-100" id="inputEmail" aria-describedby="emailHelp"
              placeholder="Addresse email" [(ngModel)] = "emailInput" name="email">
          </div>
          <div class="mb-3 inputContainer">
            <input type="password" class="form-control h-100" id="inputPassword" placeholder="Mot de passe"
            [(ngModel)] = "passwordInput" name="password">
          </div>
          <button type="button" class="btn col-12 buttonSubmit mb-3"  style="color: white;" (click)="register()">S'incrire</button>
        </form>
        <button class="btn colorbtn mt-5" (click)="goBackHome()">Se connecter</button>
      </div>
    </div>
  </div>

